body {
  font-size: 14px;
  font-family: "Helvetica", "Arial", sans-serif;
  width: 400px;
}

h1 {
  font-size: 26px;
}

p {
  font-size: 14px;
}
option,
select,
input {
  font-size: 16px;
  display: block;
  margin-bottom: 4px;
}

label {
  font-size: 12px;
}

#submit {
  border-radius: 0;
  border: 1px solid #5e9e89;
  background-color: aliceblue;
}
